  .page
        {
            background-color: rgb(109, 187, 235);
            padding:30px 30px 30px;
            max-width: 500px;
            border-style:solid;
            border-width: 1px;
            border-color: rgb(51, 102, 85);
            border-radius: 20px;
        }

        .page button
        {
            background-color: rgb(133, 170, 199);
            border: none;
            border-style: none;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
            border-radius: 20px;
            padding: 8px 15px 8px;
        }

        .page button:hover
        {
            cursor: pointer;
        }

        body
        {
            display: flex;
            justify-content: center;
            margin-top:100px;
            flex-direction: column;
            align-items: center;
        }

        .page input 
        {
            padding: 8px;
            border-radius: 5px;
            border: 1px solid rgb(132, 186, 168);
        }